Repository mrhm-dev/mdx-craft: changes, and which Codecov flags are due for each by the changed paths.
All: packages, apps

refactor: update Tabs component styles for improved consistency
  packages/mdx-craft/src/components/viewer/core/Tabs.tsx
Due: packages

refactor: update Step component styles for improved consistency
  packages/mdx-craft/src/components/viewer/core/Steps.tsx
Due: packages

feat: introduce Space component for consistent spacing in MDX content
  packages/mdx-craft/src/MDXViewer.tsx
  packages/mdx-craft/src/components/viewer/core/Space.tsx
  packages/mdx-craft/src/components/viewer/core/index.ts
Due: packages

refactor: update component styles for improved visual consistency
  packages/mdx-craft/src/components/viewer/html/Code.tsx
  packages/mdx-craft/src/components/viewer/html/Heading.tsx
  packages/mdx-craft/src/components/viewer/html/Image.tsx
  packages/mdx-craft/src/components/viewer/html/Link.tsx
  packages/mdx-craft/src/components/viewer/html/Lists.tsx
  packages/mdx-craft/src/components/viewer/html/Paragraph.tsx
  packages/mdx-craft/src/components/viewer/html/Table.tsx
Due: packages

refactor: enhance MDXViewer with hook-based architecture and component registry
  packages/mdx-craft/src/MDXViewer.tsx
  packages/mdx-craft/src/hooks/index.ts
  packages/mdx-craft/src/hooks/useComponentRegistry.ts
  packages/mdx-craft/src/hooks/useMDXCompilation.ts
  packages/mdx-craft/src/types/viewer.ts
Due: packages

refactor: simplify Card component styles for improved clarity
  packages/mdx-craft/src/components/viewer/core/Card.tsx
Due: packages

refactor: update TOC component styles for improved consistency and clarity
  packages/mdx-craft/src/components/viewer/navigation/TOC.tsx
Due: packages

chore: update dependencies and improve type safety in components
  packages/mdx-craft/package.json
  packages/mdx-craft/src/components/viewer/core/Accordion.tsx
  packages/mdx-craft/src/components/viewer/core/CodeBlock.tsx
  packages/mdx-craft/src/components/viewer/core/CodeBlockGroup.tsx
  packages/mdx-craft/src/components/viewer/core/Steps.tsx
  packages/mdx-craft/src/components/viewer/core/Tabs.tsx
  packages/mdx-craft/src/components/viewer/html/Code.tsx
  packages/mdx-craft/src/components/viewer/html/Link.tsx
Due: packages

chore: update rehype and shiki dependencies for improved performance
  packages/mdx-craft/package.json
Due: packages

feat: initialize playground app with Next.js and essential components
  apps/playground/.gitignore
  apps/playground/README.md
  apps/playground/app/favicon.ico
  apps/playground/app/globals.css
  apps/playground/app/layout.tsx
  apps/playground/app/page.tsx
  apps/playground/components.json
  apps/playground/components/layout/EditorContainer.tsx
  apps/playground/components/layout/ExampleSheet.tsx
  apps/playground/components/layout/Footer.tsx
  apps/playground/components/layout/Header.tsx
  apps/playground/components/layout/PreviewContainer.tsx
  apps/playground/components/layout/config.ts
  apps/playground/components/shared/RefreshButton.tsx
  apps/playground/components/shared/ToggleMode.tsx
  apps/playground/components/ui/button.tsx
  apps/playground/components/ui/resizable.tsx
  apps/playground/components/ui/select.tsx
  apps/playground/components/ui/sheet.tsx
  apps/playground/data/examples.ts
  apps/playground/lib/utils.ts
  apps/playground/next.config.ts
  apps/playground/package.json
  apps/playground/postcss.config.mjs
  apps/playground/public/file.svg
  apps/playground/public/globe.svg
  apps/playground/public/next.svg
  apps/playground/public/vercel.svg
  apps/playground/public/window.svg
  apps/playground/store/editorStore.ts
  apps/playground/tsconfig.json
  pnpm-lock.yaml
Due: apps

refactor: streamline change detection in useMDXCompilation hook
  packages/mdx-craft/src/hooks/useMDXCompilation.ts
Due: packages

feat: add introduction content and enhance editor store functionality
  .claude/settings.local.json
  apps/playground/data/1-introduction.ts
  apps/playground/data/examples.ts
  apps/playground/data/index.ts
  apps/playground/store/editorStore.ts
Due: apps

chore: remove pnpm version specification from CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/test-coverage.yml
Due: none

chore: update package names and improve CI workflows
  .changeset/short-loops-switch.md
  .github/workflows/release.yml
  .github/workflows/size.yml
  apps/playground/components/layout/PreviewContainer.tsx
  apps/playground/package.json
  packages/mdx-craft/CONTRIBUTING.md
  packages/mdx-craft/README.md
  packages/mdx-craft/jest.config.mjs
  packages/mdx-craft/package.json
  packages/mdx-craft/src/processor/__tests__/cache.test.ts
Due: packages, apps

chore: update pnpm-lock.yaml to reflect package name change and remove old reference
  pnpm-lock.yaml
Due: none

fix: update MDXViewerProvider import to reflect package name change
  apps/playground/app/layout.tsx
Due: apps

chore: rename package from '@sl/mdx-craft' to 'mdx-craft' across all files
  .changeset/short-loops-switch.md
  .github/pull_request_template.md
  .github/workflows/size.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/playground/app/layout.tsx
  apps/playground/components/layout/PreviewContainer.tsx
  apps/playground/package.json
  packages/mdx-craft/CONTRIBUTING.md
  packages/mdx-craft/README.md
  packages/mdx-craft/jest.config.mjs
  packages/mdx-craft/package.json
  pnpm-lock.yaml
Due: packages, apps

refactor(playground): reorganize mdx examples into separate files
  apps/playground/components/layout/ExampleSheet.tsx
  apps/playground/data/1-introduction.ts
  apps/playground/data/2-basic-markdown.ts
  apps/playground/data/3-code-blocks.ts
  apps/playground/data/4-components.ts
  apps/playground/data/5-tables-lists.ts
  apps/playground/data/examples.ts
  apps/playground/data/index.ts
  apps/playground/store/editorStore.ts
Due: apps

docs(mdx-craft): rewrite and expand mdx-craft readme with comprehensive documentation
  README.md
  packages/mdx-craft/README.md
Due: packages

chore: update ts-jest version to 29.4.1 and bump @babel/runtime to 7.28.4
  package.json
  packages/mdx-craft/package.json
  pnpm-lock.yaml
Due: packages

chore: clean up dependencies and improve rehype plugin configuration
  .claude/settings.local.json
  packages/mdx-craft/package.json
  packages/mdx-craft/src/index.ts
  packages/mdx-craft/src/plugins/rehypePlugins.ts
  packages/mdx-craft/src/plugins/shiki-highlighter.ts
  pnpm-lock.yaml
Due: packages

chore: update shiki integration and improve code highlighting
  apps/playground/data/3-code-blocks.ts
  packages/mdx-craft/package.json
  packages/mdx-craft/src/components/viewer/core/CodeBlock.tsx
  packages/mdx-craft/src/hooks/useCodeHighlighting.ts
  packages/mdx-craft/src/plugins/shiki-highlighter.ts
  packages/mdx-craft/src/provider/MDXViewerProvider.tsx
  packages/mdx-craft/src/types/provider.ts
  pnpm-lock.yaml
Due: packages, apps

docs: enhance README with detailed installation and usage instructions for MDX Craft
  README.md
  packages/mdx-craft/README.md
Due: packages

feat: major update to MDX Craft with Shiki as an optional peer dependency
  .changeset/sour-clocks-sneeze.md
Due: none

feat: implemented sync scrolling in editor.
  apps/playground/components/layout/EditorContainer.tsx
  apps/playground/components/layout/PreviewContainer.tsx
  apps/playground/store/editorStore.ts
Due: apps

feat: add MDX source preprocessor to escape special characters
  .changeset/plenty-knives-boil.md
  packages/mdx-craft/src/processor/MDXProcessor.ts
  packages/mdx-craft/src/processor/__tests__/MDXProcessor.test.ts
  packages/mdx-craft/src/processor/preprocessor.ts
Due: packages

feat: add FileIcon and FolderIcon components; implement FolderStructure for folder tree display
  packages/mdx-craft/src/components/icons/FileIcon.tsx
  packages/mdx-craft/src/components/icons/FolderIcon.tsx
  packages/mdx-craft/src/components/icons/index.ts
  packages/mdx-craft/src/components/viewer/core/FolderStructure.tsx
  packages/mdx-craft/src/components/viewer/core/index.ts
  packages/mdx-craft/src/hooks/useComponentRegistry.ts
Due: packages

feat: add folderStructure component for interactive folder and file tree visualization (content using ai)
  apps/playground/data/6-folder-structure.ts
  apps/playground/data/index.ts
Due: apps

fix(shiki-highlighter): include code hash in cache key to prevent collisions
  packages/mdx-craft/src/plugins/shiki-highlighter.test.ts
  packages/mdx-craft/src/plugins/shiki-highlighter.ts
Due: packages

Path conditions:
  packages: any of: packages/, but not: **/*.d.ts, **/*.config.{js,ts}, **/jest.setup.js, **/test-setup.ts, **/*.stories.{ts,tsx}, apps/docs/**
  apps: any of: apps/, but not: **/*.d.ts, **/*.config.{js,ts}, **/jest.setup.js, **/test-setup.ts, **/*.stories.{ts,tsx}, apps/docs/**
