Repository mrhm-dev/mdx-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd packages/mdx-craft && npm test'

feat: add MDX source preprocessor to escape special characters
  .changeset/plenty-knives-boil.md
  packages/mdx-craft/src/processor/MDXProcessor.ts
  packages/mdx-craft/src/processor/__tests__/MDXProcessor.test.ts
  packages/mdx-craft/src/processor/preprocessor.ts
Due: eslint --fix, prettier --write, bash -c 'cd packages/mdx-craft && npm test'

feat: add folderStructure component for interactive folder and file tree visualization (content using ai)
  apps/playground/data/6-folder-structure.ts
  apps/playground/data/index.ts
Due: eslint --fix, prettier --write

feat: implement folder state context for improved folder collapse management in FolderStructure component
  packages/mdx-craft/src/components/viewer/core/FolderStructure.tsx
Due: eslint --fix, prettier --write, bash -c 'cd packages/mdx-craft && npm test'

feat: introduce FolderStructure component for interactive file and folder visualization
  .changeset/tired-moons-wave.md
  packages/mdx-craft/CHANGELOG.md
Due: prettier --write

chore: update dependencies to Next.js 16.0.7 and related packages
  apps/playground/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{js,jsx,ts,tsx}) or (any of: apps/**/*.{js,jsx,ts,tsx})
  prettier --write: ((any of: packages/**/*.{js,jsx,ts,tsx}) or (any of: apps/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,mdx,css,html,yml,yaml})
  bash -c 'cd packages/mdx-craft && npm test': any of: packages/mdx-craft/**/*.{js,jsx,ts,tsx}
